/* permanent marker font for all what you're seeing text */
h1 {
  font-family: "Permanent Marker";
}

p {
  font-family: "Permanent Marker";
  font-size: 17px;
  font-weight: 200;
}

.input-group {
  max-width: 45%;
}

.label {
  left: 50%;
}

/*BOOTSRAP HERE*/
